* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gep: 0.5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: calc(var(--index) * 2.8);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: 0.9;
  margin-top: 0.2em;
}

.header span {
  display: block;
  margin-top: 5px;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.75);
}

.gallery {
  width: 30vw;
  column-width: 2em;
  gap: var(--gep);
  transform: scale(8.2);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.075, 1, 0.25, 1), opacity 2s;
}

.gallery__item {
  margin-bottom: var(--gep);
  transform: scale(1.001);
  will-change: transform;
  transition: .3s;
}

.gallery__item:hover {
    transform: scale(1.03);
}

.gallery__item img {
  width: 100%;
  display: block;
}

.loaded .gallery {
    opacity: 1;
}

.loaded .header span {
    opacity: 0;
}

/*DARK MODE OS*/

@media (prefers-color-s—Åheme: dark) {
    body {
        background-color: var(--color-dark);
    }
    .header {
        filter: invert(100%);
    }
}

@media (max-width : 992px) {
 
	.header {
		position: relative;
	}
 
	body {
		overflow: scroll;
		display: block;
		padding: var(--gap);
	}
 
	.gallery {
		width: 100%;
		column-width: 10em;
		transform: scale(1);
	}
	.gallery__item:hover {
		transform: scale(1);
	}
 
}